@import "tailwindcss";

.container {
  @apply max-w-[1024px] mx-auto px-4;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}
